@model IEnumerable<WebFig.Models.OrderDetail>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="margin-top:200px" class="table">
    <tr>

        <th>
            Tên sản phẩm
        </th>
        <th>
            Số lượng
        </th>
        <th>
            Hình
        </th>
        <th>
            Giá
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Product.ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img width="100px" src=" @Html.DisplayFor(modelItem => item.Product.hinh)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>


        </tr>
    }

</table>
