@model IEnumerable<WebFig.Models.Order>
@Styles.Render("~/Content/css")
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table style="margin-top:200px" class="table">
    <tr>
        <th>
            Mã đơn
        </th>
        <th>
            Phương thức vận chuyển
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Tình trạng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delivery.tenDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.tenPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.NameStatus)
            </td>
            <td>
            </td>
            <td>
                <div class="Detail">
                    <a class="btn btn-success" href="@Url.Action("ChiTietDonHang","DonHang", new {@id = item.IdOrder})">Chi tiết</a>
                </div>
            </td>
        </tr>
    }

</table>
